<launch>
	<!-- launch all phidgets -->
	<include file="$(find robp_phidgets)/launch/phidgets.launch" />

    <!-- launch the teleop node -->
	<node pkg="teleop" type="teleop_twist_keyboard.py" name="keyboard_teleop_node" output="screen" />
	<!-- launch the teleop_joy node -->
	<arg name="joy_config" default="atk3" />
	<arg name="joy_dev" default="/dev/input/js0" />
	<arg name="config_filepath" default="$(find teleop_twist_joy)/config/$(arg joy_config).config.yaml" />
	<arg name="joy_topic" default="joy" />
	
	

	<node pkg="teleop_twist_joy" name="teleop_twist_joy_node" type="teleop_node">
		<rosparam command="load" file="$(arg config_filepath)" />
		<remap from="joy" to="$(arg joy_topic)" />
	</node>

	<node pkg="joy" type="joy_node" name="joy_node">
		<param name="dev" value="$(arg joy_dev)" />
		<param name="deadzone" value="0.3" />
		<param name="autorepeat_rate" value="20" />
		<remap from="joy" to="$(arg joy_topic)" />
	</node>
	
	<!-- launch the realsense node -->
	<include file = "$(find realsense2_camera)/launch/rs_camera.launch" >
		<arg name="tf_prefix" value="camera"/>
		<arg name="filters" value="pointcloud" />
		<arg name="align_depth" value="true"/>
	</include>

	<!-- launch the usb cam node -->
	<node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
		<param name="video_device" value="/dev/video6" />
		<param name="image_width" value="640" />
		<param name="image_height" value="480" />
		<param name="pixel_format" value="yuyv" />
		<param name="color_format" value="yuv422p" />
		<param name="camera_frame_id" value="usb_cam" />
		<param name="io_method" value="mmap"/>
		<param name="camera_info_url" value="file:///home/robot/dd2419_ws/src/usb_cam/ost.yaml" />
  	</node>

	<!-- process usb cam image-->
	<node name="image_proc" pkg="image_proc" type="image_proc" ns="usb_cam" />

	<!-- launch the arm node -->
	<node name="forwards_kinematics" pkg="kinematics" type="FK_publisher.py" output="screen"/>
	<node name="pose_server" pkg="kinematics" type="pose_service.py" output="screen"/>
	<node name="IK_service" pkg="kinematics" type="IK_service.py" output="screen"/>


	
	<!-- Initiating robot description and internal tf frame realstions -->
	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find realsense2_description)/urdf/test_d435_camera.urdf.xacro' use_nominal_extrinsics:=false"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	<node name="static_tf_map_odom" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 map odom" />
	<node name="static_tf_arm_base" pkg="tf2_ros" type="static_transform_publisher" args="-0.1 -0.05 0.05 1.57 0 0 base_link arm_base_link" />



</launch>
