<launch>
	<!-- launch all phidgets -->
	<include file="$(find robp_phidgets)/launch/phidgets.launch" />

    <!-- launch the teleop node -->
	<node pkg="teleop" type="teleop_twist_keyboard.py" name="keyboard_teleop_node" output="screen" />

	<!-- launch the realsense node -->
	<include file = "$(find realsense2_camera)/launch/rs_camera.launch" >
		<arg name="tf_prefix" value="camera"/>
		<arg name="filters" value="pointcloud" />
	</include>
</launch>
