<launch>

	
	
	<!-- launch the controller node -->
	<node pkg="controller" type="controller.py" name="cartesian_controller_node" output="screen" />
	<!-- launch the odometry node -->
	<!-- <node pkg="odometry" type="odometry.py" name="odometry_node" output="screen" /> -->
	<!-- launch the aruco detector and RViz dissplayer node -->
	<node pkg="aruco_detection" type="display_markers.py" name="display_markers_node" output="screen" />

	<node name="aruco" pkg="aruco_ros" type="marker_publisher">
		<remap from="/camera_info" to="/camera/color/camera_info"/>
		<remap from="/image" to="/camera/color/image_raw"/>
		
		<param name="image_is_rectified" value="True"/>
		<param name="marker_size"        value="0.06"/> <!-- in m -->
		<param name="reference_frame"    value="camera_color_optical_frame"/>   <!-- frame in which the marker pose will be refered -->
		<param name="camera_frame"       value="camera_color_optical_frame"/>
	</node>
	
	<!-- launch the localization node -->
	<node pkg="localization" type="localization.py" name="localization_node" output="screen" />
	<node pkg="planning" type="move_to_goal.py" name="move_to_goal_node" output="screen" />

</launch>
